In [1]:
import os
import sys
BASE_DIR = os.path.dirname(os.path.dirname(os.getcwd()))
sys.path.insert(0, os.path.join(BASE_DIR))

from offline import SparkSessionBase

In [2]:
class UpdateUserProfile(SparkSessionBase):
    
    SPARK_APP_NAME = "updateUser"
    ENABLE_HIVE_SUPPORT = True
    SPARK_EXECUTOR_MEMORY = "4g"
    
    def __init__(self):
        self.spark = self._create_spark_session()

In [3]:
uup = UpdateUserProfile()

In [4]:
uup.spark.sql("use fytang")

DataFrame[]

In [8]:
user_action = uup.spark.sql("select * from user_article_basic")

In [9]:
user_action.show()

+-------------------+-------------------+----------+----------+------+-------+---------+--------+---------+
|            user_id|        action_time|article_id|channel_id|shared|clicked|collected|exposure|read_time|
+-------------------+-------------------+----------+----------+------+-------+---------+--------+---------+
|1105045287866466304|2019-03-11 18:13:45|     14225|         0| false|  false|    false|    true|         |
|1106476833370537984|2019-03-15 16:46:50|     14208|         0| false|  false|    false|    true|         |
|1111189494544990208|2019-03-28 17:02:35|     19322|         0| false|  false|    false|    true|         |
|1111524501104885760|2019-03-29 15:04:27|     44161|         0| false|  false|    false|    true|         |
|1112727762809913344|2019-04-03 12:51:57|     18172|        18| false|   true|     true|    true|    19413|
|                  1|2019-03-07 16:57:34|     44386|        18| false|   true|    false|    true|    17850|
|                  1|2019-03-11 18:13:11|     44696|         0| false|  false|    false|    true|         |
|                 10|2019-03-06 10:06:15|     43907|         0| false|  false|    false|    true|         |
|1106473203766657024|2019-03-15 16:32:24|     16005|         0| false|  false|    false|    true|         |
|1108264901190615040|2019-03-20 15:18:27|     15196|         0| false|  false|    false|    true|         |
|                 23|2019-04-03 08:10:23|     44739|        18| false|   true|    false|    true|    14216|
|                 33|2019-03-06 18:24:11|     13570|         0| false|  false|    false|    true|         |
|                  1|2019-03-15 16:42:42|     17632|         0| false|  false|    false|    true|         |
|1106473203766657024|2019-03-15 16:32:24|     17665|         0| false|  false|    false|    true|         |
|1111189494544990208|2019-03-28 16:57:45|     44368|         0| false|  false|    false|    true|         |
|                 10|2019-03-06 10:06:15|     44368|         0| false|  false|    false|    true|         |
|1105093883106164736|2019-03-11 21:11:33|     15750|         0| false|  false|    false|    true|         |
|1106396183141548032|2019-03-28 10:55:34|     19476|         0| false|  false|    false|    true|         |
|1111524501104885760|2019-03-29 15:04:54|     19233|         0| false|  false|    false|    true|         |
|                  2|2019-03-05 10:19:54|     44371|        18| false|   true|    false|    true|      938|
+-------------------+-------------------+----------+----------+------+-------+---------+--------+---------+
only showing top 20 rows

In [11]:
user_count = uup.spark.sql("select user_id, count(*) from user_article_basic group by user_id")
user_count.show()

+-------------------+--------+
|            user_id|count(1)|
+-------------------+--------+
|1106473203766657024|      67|
|1103195673450250240|      62|
|1105045287866466304|      68|
|1111524501104885760|      55|
|1105105185656537088|      60|
|1113316420155867136|       9|
|                 33|      35|
|                  1|      50|
|1113244157343694848|      21|
|                 10|      72|
|1113053603926376448|       2|
|1112727762809913344|      43|
|                  2|      48|
|                  4|      24|
|1106476833370537984|      77|
|1106396183141548032|     117|
|                 38|      15|
|                 23|      12|
|1108264901190615040|      63|
|1111189494544990208|      86|
+-------------------+--------+
only showing top 20 rows

In [12]:
a = uup.spark.sql("select * from user_article_basic where user_id = 1113053603926376448")
a.show()

+-------------------+-------------------+----------+----------+------+-------+---------+--------+---------+
|            user_id|        action_time|article_id|channel_id|shared|clicked|collected|exposure|read_time|
+-------------------+-------------------+----------+----------+------+-------+---------+--------+---------+
|1113053603926376448|2019-04-03 13:30:21|     14335|         0| false|  false|    false|    true|         |
|1113053603926376448|2019-04-03 13:30:21|    141437|         0| false|  false|    false|    true|         |
+-------------------+-------------------+----------+----------+------+-------+---------+--------+---------+

In [15]:
article  = uup.spark.sql("select channel_id, count(*) from article_data group by channel_id")
article.show()

+----------+--------+
|channel_id|count(1)|
+----------+--------+
|        12|    5232|
|        22|    4765|
|         1|    3003|
|        13|    8903|
|        16|    4444|
|         6|    3100|
|         3|    3225|
|        20|    3186|
|         5|    5923|
|        19|   13113|
|        15|   11927|
|        17|   14391|
|         9|    3071|
|         4|    3148|
|         8|    2759|
|        23|    1525|
|         7|    7322|
|        10|     866|
|        25|     187|
|        24|    1109|
+----------+--------+
only showing top 20 rows